version: '3.2'

services:

  back:
    build: api/
    volumes:
      -  ./api/:/application
    ports:
      - 8000:8000
    command: ["npm","run","dev"]
  scrap:
    build: scrap/
    volumes:
      - ./scrap/:/application
    ports:
      - 3000:3000
    command: ["npm","run","dev"]
  sync:
    build: syncLastPseudo/
    volumes:
      - ./syncLastPseudo/:/application
    command: ["npm","run","dev"]
  redis:
    image: redis
  mongo:
    image: mongo
    ports:
      - 27017:27017
