version: '3.2'

services:

  back:
    build: api/
    volumes:
      -  ./api/:/application
    ports:
      - 8000:8000
    command: ["npm","run","dev"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/status"]
      retries: 1
      interval: 10s
      timeout: 5s
  scrap:
    build: scrap/
    volumes:
      - ./scrap/:/application
    ports:
      - 8001:3000
    command: ["npm","run","dev"]
  sync:
    build: syncLastPseudo/
    volumes:
      - ./syncLastPseudo/:/application
    command: ["npm","run","dev"]
  # statusbot:
  #   build: statusBot/
  #   volumes:
  #     - ./statusBot/:/application
  #   command: ["npm","run","dev"]
  #   environment:
  #     - TOKEN=$TOKEN
  redis:
    image: redis
  mongo:
    image: mongo
    ports:
      - 27018:27017
