{
  "swagger": "2.0",
  "info": {
    "description": "⚠️ Le navigateur a du mal a supporté trop de data, récupére une grand quantité de pixels avec cette doc risque de faire planté votre navigateur",
    "version": "0.0.1",
    "title": "Private api",
    "contact": {
      "email": "codatitiss@gmail.com"
    }
  },
  "host": "api.codati.ovh",
  "basePath": "/",
  "tags": [
    {
      "name": "pixels",
      "description": "Get un ou des pixels"
    },
    {
      "name": "departements",
      "description": "get des département"
    },
    {
      "name": "status",
      "description": "test l'api"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/pixels/": {
      "get": {
        "tags": [
          "pixels"
        ],
        "summary": "get Pixel",
        "description": "Récupére tout les pixels sans paramétre, sinon, récupére uniquement un pixel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "description": "X du pixel",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "y",
            "in": "query",
            "description": "Y du pixel",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "indexInFlag",
            "in": "query",
            "description": "indexInFlag du pixel",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "index",
            "in": "query",
            "description": "index du pixel",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "get data"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/pixels/zone/": {
      "get": {
        "tags": [
          "pixels"
        ],
        "summary": "Récupére les pixels d'une zone",
        "description": "récupére les pixels d'une zone la zone peut étre un département, un rectangle défini par min et max, un carré définin par son centre et la distance du centre aux bort",
        "operationId": "pixels/zone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "description": "X de la zone pixel",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "y",
            "in": "query",
            "description": "Y de la zone pixel",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "r",
            "in": "query",
            "description": "rayon",
            "required": false,
            "type": "integer"
          },
          {
            "name": "departement",
            "in": "query",
            "description": "departement des pixels",
            "required": false,
            "type": "string"
          },
          {
            "name": "minx",
            "in": "query",
            "description": "minx des pixel",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "miny",
            "in": "query",
            "description": "miny des pixel",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxx",
            "in": "query",
            "description": "minx des pixel",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "maxy",
            "in": "query",
            "description": "maxy des pixel",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "get data"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/departements/": {
      "get": {
        "tags": [
          "departements"
        ],
        "summary": "récupére un ou des departements",
        "description": "Sans paramétre récupére tout les départements, avec récupére les départements du pixel X:Y (des départements se chevoche, donc plussieur département peuveux étre récupére)",
        "operationId": "departements",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "description": "X dont on veux récupére les déparetements",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "y",
            "in": "query",
            "description": "Y dont on veux récupére les déparetements",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "in":"query",
            "description": "name du département que l'on veux récupére",
            "required": false,
            "type": "string",
          }
        ],
        "responses": {
          "200": {
            "description": "get data"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Test le bon fonctionnement de l'api",
        "description": "Test le bon fonctionnement interne de l'api",
        "operationId": "status",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "get data",
            "schema": {
              "type": "object",
              "properties": {
                "mongodb": {
                  "type": "boolean",
                  "description": "test if mongo is up"
                },
                "redis": {
                  "type": "boolean",
                  "description": "test if redis is up"
                }
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Siteweb codati.ovh",
    "url": "https://codati.ovh/"
  }
}
